<div class="col-sm-8">
    <h1>CONTACT</h1>

    <p>Please contact me if you are interested in…</p>

    <ul>
		<li>Purchasing a painting</li>
		<li>Commissioning me for a personal piece or mural</li>
		<li>Assistance with graphic design</li>
		<li>Having me be a part of your event as a live artist</li>
	</ul>

	<p>I’m looking forward to working with you!</p>

	<p>
		<a class="icon icon-email" href="mailto:info@kristinwhitney.com"></a>
		<a class="icon icon-facebook" href="http://www.facebook.com/KristinWhitneyArt" target="_blank"></a>
		<a class="icon icon-instagram" href="http://instagram.com/cleverandartsy" target="_blank"></a>
		<a class="icon icon-pinterest" href="http://www.pinterest.com/whittyk/" target="_blank"></a>
		<a class="icon icon-linkedin" href="http://www.linkedin.com/pub/kristin-whitney/75/7a5/45b" target="_blank"></a>
	</p>
</div>

<!--
social media icons next to headline

-->