<div class="row">
    <div class="col-sm-8">
        <h1>LIVE PAINTINGS</h1>

        <p>A part of my creative work includes inviting an audience into the creative process in a public setting. Below are some examples from the last few years. All the artwork was created in approximately one hour or less and was made to coincide with what was spoken. I would love to help you add that creative element to your next event as a live artist! Feel free contact me if you’re interested.</p>
    </div>
</div>
