<div class="col-sm-8">
    <h1>MURALS</h1>

    <p>Working with my father, a contract-painter for new construction, all through my high school and college years gave me a great opportunity to practice with latex paint on interior walls of homes. Though it was just “one-coat white” on the walls since they were mostly new construction houses, I used to imagine myself painting HUGE murals. Once I  was able to make that dream come true I realized how much I loved doing murals and can’t want to do more.</p>

    <p>I like to give interested clients a free, one-hour, in-home consultation before moving forward to give them a chance to feel more comfortable and ask any questions they may have. If you’re interested in having a mural in your home or business, just contact me and we can talk about your ideas and pricing.</p>
</div>
