<div class="col-sm-8">
    <h1>RESUME/CV</h1>

    <h4>BORN</h4>
	<p><strong>1980</strong></p>

	<h4>EDUCATION</h4>
	<p><strong>2005&nbsp;&nbsp;|&nbsp;&nbsp;</strong>Bachelor of Fine Arts, Communication Design, Kutztown University, Kutztown, Pennsylvania</p>

	<h4>WORK EXPERIENCE</h4>
	<p><strong>2010–2012&nbsp;&nbsp;|&nbsp;&nbsp;</strong>Senior Graphic Director, Campus Crusade for Christ/Keynote, Westfield, Indiana</p>
	<p><strong>2007–2009&nbsp;&nbsp;|&nbsp;&nbsp;</strong>Graphic Designer, Campus Crusade for Christ/Keynote, Westfield, Indiana</p>
	<p><strong>2005–2007&nbsp;&nbsp;|&nbsp;&nbsp;</strong>Graphic Designer, Susquehanna Design and Printing, Millersburg, Pennsylvania</p>

	<h4>SOLO EXHIBITIONS</h4>
	<p><strong>2014</strong></p>
	<ul>
		<li>Chromatic Canyon, Noblesville Visitor’s Center, Noblesville, Indiana</li>
		<li>An Experience in Color, Vineyard Community Church, Indianapolis, Indiana</li>
	</ul>

	<h4>GROUP EXHIBITIONS</h4>
	<p><strong>2013</strong></p>
	<ul>
		<li>63rd Annual Fall Show, Hamilton County Artists Association, Noblesville Library, Noblesville, Indiana.</li>
		<li>Art Fair on the Square, Noblesville Cultural Arts Commission, Noblesville, Indiana.</li>
		<li>Bon Apetite, Hamilton County Artists Association Birdie Gallery, Noblesville, Indiana.</li>
		<li>Critters, Hamilton County Artists Association Birdie Gallery, Noblesville, Indiana.</li>
		<li>Spring Into Spring, Hamilton County Artists Association Birdie Gallery, Noblesville, Indiana.</li>
		<li>Umbrella Sales Event, Nickel Plate Arts, Noblesville, Indiana</li>
	</ul>

	<h4>PRESS</h4>
	<p><strong>2014&nbsp;&nbsp;|&nbsp;&nbsp;</strong>Navar Watson, Westfield Artist Shows Series on Grand Canyon, Current in Westfield, Westfield, Indiana, July 8, 2014, page 5.</p>

	<h4>RELATED EXPERIENCE</h4>
	<p><strong>2013</strong></p>
	<ul>
		<li>Six-Week Intermediate Oil Painting Class, R. Carol Skinner, Indianapolis Art Center, Indianapolis, Indiana</li>
		<li>Six-Week Workshop David Michael Slonim, Anderson, Indiana</li>
	</ul>
</div>

<!--
Grey minor headlines
work on vertical spacing
-->