@import 'variables';
@import 'navigation';
@import 'offcanvas';
@import 'paintings';
@import 'icons';

body {
	color: $color-grey;
}

.container {
	overflow: hidden;
}

.loader {
	background-image: url('../../dist/images/loader.gif');
	background-size: 50px;
	background-repeat: no-repeat;
	background-position: top center;
}

a {
	color: $color-purple;
}

h1, h3, h4 {
	color: $color-purple;
}

h1, h2, h3, h4, h5, h6 {
	// margin-top: 0px;
}

.container-parallax { 
    background-position: 50% 50%;
    background-attachment: fixed;
    height: auto;  
    margin: 0 auto; 
    width: 100%; 
    position: relative; 
    // box-shadow: 0 0 50px rgba(0,0,0,0.8);
    padding: 200px 0;
}

#parallax1, #parallax2 {
	// background-image: url('http://placehold.it/2000x300');
    background-image: url('../../dist/images/paintings/canyon-at-sunset-full@2x.jpg');
} 